<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osmeuslugares"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListLugares"
            android:label="@string/title_activity_list_lugares" >
        </activity>
        <activity
            android:name=".AcercaDeActivity"
            android:label="@string/title_activity_acerca_de" >
        </activity>
        <activity
            android:name=".PreferenciasActivity"
            android:label="@string/title_activity_preferencias" >
        </activity>
        <activity
            android:name=".EditLugarActivity"
            android:label="@string/title_activity_edit_lugar" >
        </activity>
        <activity 
            android:name="EditCategoriasActivity" 
            android:label="@string/edit_categoria">
            
        </activity>
        <activity 
            android:name="ListCategorias" 
            android:label="@string/list_categorias"></activity>
    </application>

</manifest>
